* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

body {
    background-color: #eee;
    line-height: 1.75;
}

h5 {
    margin: 1rem 0;
    font-size: 1rem;
    height: 1rem;
}

a {
    text-decoration: none;
}

hr {
    margin: 2.5rem auto;
}

.hidden {
    display: none;
}

.top {
    background: no-repeat center right fixed url(https://images2.alphacoders.com/114/1142011.jpg);
    /* http://3.bp.blogspot.com/-Wpnqbh3dVLA/UKJ03eZpLPI/AAAAAAAAEig/3jBFu5izGb4/s1600/3.jpg); */
    height: 100vh;
    background-size: cover;
}

.headsup {
    position: relative;
    top: 30%;
    z-index: 4;
    width: fit-content;
}

.headsup h1 {
    font-weight: 700;
    color: #ffffff;
    padding: 1rem;
    border-bottom: 1px solid #fff;
    font-size: 4rem;
    letter-spacing: 0.25rem;
}

.headsup p {
    font-weight: 400;
    font-size: 1.75rem;
    color: #ffffff;
    padding: 1rem;
    letter-spacing: 0.25rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100vh);
    background-color: #22A39F;
    opacity: 0.75;
    z-index: 2;
}

.indicator a {
    position: absolute;
    z-index: 4;
    bottom: 1rem;
    right: 0;
    left: 0;
    color: #fff;
    animation: MoveUpDown 1.5s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.5rem);
    }
}

.active {
    background-color: #22A39F;
}

.nav-link {
    padding: 1rem !important;
    font-weight: 550;
    color: #fff !important;
    font-size: 1rem;
}

@media (min-width: 992px) {
    .navbar {
        position: sticky;
        float: right;
        width: fit-content;
        top: 4rem;
        right: 5rem;
        padding: 0;
        z-index: 5;
    }
    .navbar .container-fluid {
        padding: 0;
    }
    .navbar-nav {
        flex-direction: column !important;
    }
    .nav-link {
        padding: 2rem 1rem !important;
    }
}

.tiles {
    background-color: #eee;
    max-width: 50%;
    margin: 2rem auto 6rem;
}

.tiles h2 {
    font-size: 3.25rem;
    font-weight: 300;
    margin: 1.25rem 0.5rem;
    color: #22A39F;
}

.tiles p {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 1rem;
}

.tile-card {
    padding: 4rem 0;
}

.tile-card h3 {
    font-size: 1.75rem;
    text-align: left;
    font-weight: 300;
    color: #22A39F;
    margin: 1rem 0.5rem;
}

.tile-card p {
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
    margin: 1rem 0.5rem;
}

.column {
    padding: 1rem;
}

.progress {
    margin: 1rem 0.25rem;
}

.increase {
    animation: grow 3s;
}

@keyframes grow {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 0.5rem);
    }
}

.project-cont {
    position: relative;
    margin: 1rem 1.5rem 2rem;
    overflow: hidden;
    z-index: 2;
    background-color: #fff;
}

.project-cont hr {
    margin: 0.5rem auto;
}

.project-desc-cont {
    background-color: #fff;
    padding: 0.5rem;
}

img {
    margin: 0;
    padding: 0.5rem 0.5rem 0;
    width: 100%;
}

footer {
    padding: 2rem;
    margin-top: 2rem;
    background-color: #22A39F;
    color: #fff;
    text-align: center;
}

footer a {
    margin: 1rem;
    text-decoration: none;
    color: #fff;
    cursor: auto;
}

footer a:hover {
    color: #ccc;
}

@media (max-width: 991px) {
    .top {
        background: url(./images/gojosatoru_by_marcechan_fullview.jpg);
        background-size: cover;
        height: calc(100vh);
    }
    .headsup h1 {
        font-size: 2.5rem;
    }
    .headsup p {
        font-size: 1rem;
    }
    .navbar {
        position: sticky;
        top: 0;
        right: 0;
        z-index: 5;
    }
    #navbarSupportedContent {
        margin-top: 0.5rem;
    }
    .tiles {
        max-width: 90%;
    }
    .tiles h2 {
        font-size: 2.5rem;
    }
    .tiles p {
        font-size: 1rem;
    }
}